---
import PageLayout from '~/layouts/PageLayout.astro'
import { postsQuery } from '~/sanity/schemas/post'
import { runQuery } from '~/sanity/run-query'
import WithArticle from '~/components/common/WithArticle.astro'
import Categories from '~/components/common/Categories.astro'
import { sortDescendingByDate } from '~/utils/sort'
import ResponsiveListLayout from '~/layouts/ResponsiveListLayout.astro'
import SanityPicture from '~/components/common/SanityPicture.astro'

const posts = (await runQuery(postsQuery)).filter(
  (post) => post.isPostListVisible,
)
---

<PageLayout title={'BLOG'}>
  {
    posts && (
      <ResponsiveListLayout>
        {posts.sort(sortDescendingByDate('publishedAt')).map((post) => {
          const { slug, categories, mainImage, ...article } = post
          return (
            <a href={`/post/${slug}`}>
              <WithArticle article={article}>
                <SanityPicture class="mb-2" asset={mainImage.asset} />
                <Categories categories={categories} />
              </WithArticle>
            </a>
          )
        })}
      </ResponsiveListLayout>
    )
  }
</PageLayout>
