---
import PageLayout from '~/layouts/PageLayout.astro'
import { runQuery } from '~/sanity/run-query'
import PortableTextImage from '~/components/common/portable-text/PortableTextImage.astro'
import { productsQuery } from '~/sanity/schemas/product'
import WithArticle from '~/components/common/WithArticle.astro'
import Icon from '~/components/common/Icon.astro'
import { sortDescendingByDate } from '~/utils/sort'

const products = await runQuery(productsQuery)
---

<PageLayout title={'ENGINEERING'}>
  {
    products && (
      <ul class="grid xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 gap-8 pb-12">
        {products.sort(sortDescendingByDate('startedAt')).map((product) => {
          const { mainImage, website, github, ...article } = product
          return (
            <li>
              <a href={website}>
                <WithArticle article={article}>
                  <PortableTextImage
                    class="mb-2"
                    node={{ asset: mainImage.asset }}
                  />
                </WithArticle>
              </a>
              {github && (
                <a class="flex items-center gap-2 text-xs mt-4" href={github}>
                  <Icon name="code" /> VIEW ON GITHUB
                </a>
              )}
            </li>
          )
        })}
      </ul>
    )
  }
</PageLayout>
