---
import PageLayout from '~/layouts/PageLayout.astro'
import { runQuery } from '~/sanity/run-query'
import PortableTextImage from '~/components/common/portable-text/PortableTextImage.astro'
import { productsQuery } from '~/sanity/schemas/product'
import WithArticle from '~/components/common/WithArticle.astro'
import Icon from '~/components/common/Icon.astro'
import { sortDescendingByDate } from '~/utils/sort'
import ResponsiveListLayout from '~/layouts/ResponsiveListLayout.astro'
import SanityPicture from '~/components/common/SanityPicture.astro'

const products = await runQuery(productsQuery)
---

<PageLayout title={'ENGINEERING'}>
  {
    products && (
      <ResponsiveListLayout>
        {products.sort(sortDescendingByDate('startedAt')).map((product) => {
          const { mainImage, website, github, ...article } = product
          return (
            <article>
              <a href={website} target="_blank">
                <WithArticle article={article}>
                  <SanityPicture class="mb-2" asset={mainImage.asset} />
                </WithArticle>
              </a>
              {github && (
                <a class="flex items-center gap-2 text-xs mt-4" href={github}>
                  <Icon name="code" /> VIEW ON GITHUB
                </a>
              )}
            </article>
          )
        })}
      </ResponsiveListLayout>
    )
  }
</PageLayout>
