---
import PageLayout from '~/layouts/PageLayout.astro'
import '@fontsource/bungee-shade'
import PortableText from '~/components/common/portable-text/PortableText.astro'
import { fetchProfile } from '~/store/profile'

const profile = await fetchProfile()
const { body, name } = profile
---

<PageLayout>
  <h1 class="mt-1 mb-9 font-bungee-shade text-3xl">
    {name}'s Escapeland
  </h1>
  <div class="max-w-[37.5rem]">
    <PortableText value={body} />
  </div>
</PageLayout>
