---
import { Image } from 'astro:assets'
import DefaultLayout from '~/components/common/DefaultLayout.astro'
import IdentityImagePng from '~/assets/identity.png'
import me from '~/me.profile'

const { name, bio } = me
---

<DefaultLayout title={'⭐️'}>
  <h1 class="text-xl">{name}'s Escapeland</h1>
  <pre
    class="text-sm text-gray-400 mt-4 break-words whitespace-pre-wrap">{bio}</pre>
  <div class="w-fit">
    <Image
      class="my-20"
      width={600}
      src={IdentityImagePng}
      alt="identity"
      draggable="false"
    />
  </div>
</DefaultLayout>
