---
import PageLayout from '~/layouts/PageLayout.astro'
import '@fontsource/bungee-shade'
import PortableText from '~/components/common/portable-text/PortableText.astro'
import Graphics from '~/components/common/Graphics.astro'
import { runQuery } from '~/sanity/run-query'
import { profileQuery } from '~/sanity/schemas/profile'

const profile = await runQuery(profileQuery)
const { body, name } = profile
---

<PageLayout>
  <h1 class="mt-1 mb-9 font-bungee-shade text-3xl">
    {name}'s Escapeland
  </h1>
  <div class="max-w-[37.5rem]">
    <PortableText value={body} />
    <Graphics class="mt-16" />
  </div>
</PageLayout>
