---
import type { HTMLAttributes } from 'astro/types'
import clsx from 'clsx'
import type { Category as ICategory } from '~/sanity/schemas/category'

interface Props extends HTMLAttributes<'button'> {
  category: ICategory
}

const { class: className, category, ...rest } = Astro.props
---

<button
  class={clsx(
    'block w-max text-xs px-2 py-0.5 bg-container/20 cursor-pointer outline outline-1 outline-on-background/50 dark:outline-none',
    className,
  )}
  {...rest}
>
  {category.title}
</button>
