---
import { Fragment } from 'react'
import { Navigation } from './Navigation.tsx'
import '@fontsource/dotgothic16'
import '~/styles/crt-effect.css'
import '~/styles/global.css'
import me from '~/me.profile'
import { ViewTransitions } from 'astro:transitions'

interface Props {
  title?: string
}
const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? 'Untitled'} - {me.name}'s Escapeland</title>
    <ViewTransitions />
  </head>
  <body
    class="flex sm:justify-end p-8 sm:p-16 bg-effect-crt font-dotgothic16 min-h-screen"
  >
    <Navigation client:only="react" currentRoute={Astro.url.pathname} />
    <main class="w-full sm:flex-[0_0_calc(100%_-_8rem)]">
      <slot />
    </main>
  </body>
</html>
