---
import { fetchGraphics } from '~/store/graphics'
import SanityPicture from './SanityPicture.astro'
import clsx from 'clsx'

const graphics = await fetchGraphics()

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<section class={clsx('w-20 grid gap-2', className)}>
  {
    graphics.map((graphic) => {
      const { image, credit, link } = graphic
      return (
        <a href={link}>
          <SanityPicture asset={image.asset} alt={credit} />
        </a>
      )
    })
  }
</section>
