---
import { Fragment } from 'react'
import Navigation from '~/components/common/Navigation.astro'
import '@fontsource/dotgothic16'
import '~/styles/crt-effect.css'
import '~/styles/global.css'
import { ViewTransitions } from 'astro:transitions'
import MobileNavigation from '~/components/mobile/MobileNavigation.astro'
import '~/styles/mouse-follower.css'
import { fetchProfile } from '~/store/profile'

interface Props {
  title?: string
}
const { title } = Astro.props

const profile = await fetchProfile()
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? 'Untitled'} - {profile.name}'s Escapeland</title>
    <ViewTransitions />
  </head>
  <body
    class="flex sm:justify-end p-8 sm:p-16 bg-effect-crt font-dotgothic16 min-h-screen"
  >
    <Navigation class="hidden sm:flex" />
    <MobileNavigation />
    <main class="w-full sm:flex-[0_0_calc(100%_-_8rem)]">
      <slot />
    </main>
    <script>
      if (window.matchMedia('(pointer: fine)').matches) {
        document.addEventListener('astro:page-load', async () => {
          const { default: MouseFollower } = await import('mouse-follower')
          const { default: gsap } = await import('gsap')

          MouseFollower.registerGSAP(gsap)
          new MouseFollower()
        })
      }
    </script>
  </body>
</html>
