---
import type { Props as $, Mark } from 'astro-portabletext/types'
import { cn } from '~/utils/style-related'
import Icon from '~/components/common/Icon.astro'

type Props = $<Mark<{ href: string }>>

const { node, class: className } = Astro.props
---

<a
  class={cn('portable-text', className)}
  href={node.markDef.href}
  target="_blank"
  rel="noreferrer"
>
  <slot />
  <Icon class="inline-block" size={12} name="arrow-up-right-box" />
</a>
