@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      @apply hidden;
    }
  }

  .bg-accent-gradient-to-t {
    background: linear-gradient(
      transparent 0,
      rgba(129, 98, 123, 0.8) 64%,
      #85607a 100%
    );
  }

  .bg-accent-overlay-gradient {
    background: linear-gradient(
      225deg,
      transparent 0,
      rgba(129, 98, 123, 0.8) 64%,
      #85607a 100%
    );
  }

  .thin-scrollbar {
    &::-webkit-scrollbar {
      @apply w-2 h-1;

      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-[#85607a];
    }
  }
}

astro-overlay-trigger,
button,
a {
  @apply cursor-pointer;

  &:hover {
    @apply brightness-75;
  }

  &:active {
    @apply brightness-50;
  }
}

html {
  @apply bg-[#120d0e] text-white;
  @apply selection:bg-[#85607a];

  -webkit-tap-highlight-color: transparent;
}
