@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navigation-height: 2.5rem;
  --title-bar-height: 2.5rem;
  --main-view-height: calc(
    100dvh - var(--navigation-height) - var(--title-bar-height)
  );
  --main-view-height-minus-layout-border: calc(
    100dvh - var(--navigation-height) - var(--title-bar-height) - 0.5rem
  );

  @media (pointer: fine) {
    --navigation-height: 2rem;
  }
}

:root.light {
  --colors-primary: 38 162 255;
  --colors-background: 244 244 244;
  --colors-container: 201 231 249;
  --colors-on-background: 18 13 14;
  --colors-on-container: 18 13 14;
}

:root.dark {
  --colors-primary: 201 231 249;
  --colors-background: 18 13 14;
  --colors-container: 255 255 255;
  --colors-on-background: 255 255 255;
  --colors-on-container: 0 0 0;
}

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      @apply hidden;
    }
  }

  .thin-scrollbar {
    &::-webkit-scrollbar {
      @apply w-2 h-1;

      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-container;
    }
  }
}

button,
a[href],
*[role='button'] {
  @apply cursor-pointer transition-all;

  &:focus {
    @apply outline-2 outline-black dark:outline-blue-600;
  }

  &:hover {
    @apply brightness-75;
  }

  &:active {
    @apply brightness-50;
  }
}

html {
  @apply bg-black text-on-background;
  @apply selection:bg-primary/50;

  -webkit-tap-highlight-color: transparent;
}
